<a href="https://colab.research.google.com/github/farhanasajeer/Python-packages/blob/main/pdexmple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from numpy.random import randn
df=pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
df

          W         X         Y         Z
A  0.097824  0.703278 -0.696887  0.705894
B -0.370058 -0.193182  0.530907  1.220338
C -2.222227 -0.970113 -0.308194  0.395564
D  0.774721 -0.148042 -0.305794 -0.064584
E -0.639739  0.190673 -1.220849 -0.126867

In [ ]:
df['W']>0

A     True
B    False
C    False
D     True
E    False
Name: W, dtype: bool

In [ ]:
df[df['W']>0]

          W         X         Y         Z
A  0.097824  0.703278 -0.696887  0.705894
D  0.774721 -0.148042 -0.305794 -0.064584

In [ ]:
df.loc

In [ ]:
df.head()

          W         X         Y         Z
A  0.097824  0.703278 -0.696887  0.705894
B -0.370058 -0.193182  0.530907  1.220338
C -2.222227 -0.970113 -0.308194  0.395564
D  0.774721 -0.148042 -0.305794 -0.064584
E -0.639739  0.190673 -1.220849 -0.126867

In [ ]:
df.tail()

          W         X         Y         Z
A  0.097824  0.703278 -0.696887  0.705894
B -0.370058 -0.193182  0.530907  1.220338
C -2.222227 -0.970113 -0.308194  0.395564
D  0.774721 -0.148042 -0.305794 -0.064584
E -0.639739  0.190673 -1.220849 -0.126867

In [ ]:
df.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [ ]:
df.columns

Index(['W', 'X', 'Y', 'Z'], dtype='object')

In [ ]:
df.describe()

              A         B    C         E
count  4.000000  3.000000  0.0  2.000000
mean   2.500000  5.333333  NaN  8.500000
std    1.290994  1.527525  NaN  0.707107
min    1.000000  4.000000  NaN  8.000000
25%    1.750000  4.500000  NaN  8.250000
50%    2.500000  5.000000  NaN  8.500000
75%    3.250000  6.000000  NaN  8.750000
max    4.000000  7.000000  NaN  9.000000

In [ ]:
df.isnull()

       W      X      Y      Z
A  False  False  False  False
B  False  False  False  False
C  False  False  False  False
D  False  False  False  False
E  False  False  False  False

In [ ]:
df.mean()

W   -0.471896
X   -0.083477
Y   -0.400163
Z    0.426069
dtype: float64

In [ ]:
df.std()

W    1.115889
X    0.611651
Y    0.641449
Z    0.560485
dtype: float64

In [ ]:
df.var()

W    1.245208
X    0.374117
Y    0.411457
Z    0.314144
dtype: float64

In [ ]:
df.apply(np.cumsum)

          W         X         Y         Z
A  0.097824  0.703278 -0.696887  0.705894
B -0.272234  0.510097 -0.165980  1.926232
C -2.494460 -0.460016 -0.474174  2.321796
D -1.719740 -0.608058 -0.779968  2.257212
E -2.359479 -0.417385 -2.000817  2.130345

In [ ]:
df.value_counts()

W          X          Y          Z
 0.774721  -0.148042  -0.305794  -0.064584    1
 0.097824   0.703278  -0.696887   0.705894    1
-0.370058  -0.193182   0.530907   1.220338    1
-0.639739   0.190673  -1.220849  -0.126867    1
-2.222227  -0.970113  -0.308194   0.395564    1
dtype: int64

In [ ]:
df=pd.DataFrame({'A':[1,2,3,4],
                 'B':[4,5,np.nan,7],
                 'C':[np.nan,np.nan,np.nan,np.nan],
                 'D':['a','b','c','d'],
                 'E':[8,9,np.nan,np.nan]})
df

   A    B   C  D    E
0  1  4.0 NaN  a  8.0
1  2  5.0 NaN  b  9.0
2  3  NaN NaN  c  NaN
3  4  7.0 NaN  d  NaN

In [ ]:
df.isnull()

       A      B     C      D      E
0  False  False  True  False  False
1  False  False  True  False  False
2  False   True  True  False   True
3  False  False  True  False   True

In [ ]:
df.dropna()

Empty DataFrame
Columns: [A, B, C, D, E]
Index: []

In [ ]:
df.loc[0]

A      1
B      4
C    NaN
D      a
E      8
Name: 0, dtype: object

In [ ]:
df.iloc[1]

A      2
B      5
C    NaN
D      b
E      9
Name: 1, dtype: object

In [ ]:
df[]

KeyError: ignored